@{
    var currentStorageType = ViewBag.CurrentStorageType as string;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Todo" asp-action="Index">Ctodo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index">Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex gap-4" asp-controller="Config" asp-action="SetStorageType">
                <div>
                    <select class="form-select" name="StorageType" id="Storage">
                        <option value="database" selected="@(currentStorageType == "database")">Database</option>
                        <option value="xml" selected="@(currentStorageType == "xml")">Xml File</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="submit">Change</button>
                </div>
            </form>
        </div>
    </nav>
</header>