@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="mt-5"><a href="/todo" class="btn btn-outline-primary ">Get started</a></p>
</div>